.page-footer {
    padding-top: 5px;
    background: #F3F3F3;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-footer.dropdown > * {
    margin-bottom: 0;
}
.footerRow {
    margin-bottom: 0;
}

.footerContainer {
    width: 100%;
}

.footerSubHeader {
    margin: 0.3rem 0 0.46rem 0;
}

.footerSubHeader::after {
    content: ""; 
    display: block; 
    width: 10vh; 
    padding-top: 5px; 
    border-bottom: 0.25px solid #77FFC6;
}

.footerContent {
    font-size: 13px;
}

.verticalDivider {
    position: relative;
}

.verticalDivider:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.verticalDivider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
    background:#c3c3c3;
    bottom: 0;
    height: 50%;
    content: " ";
    margin-left: -5%;
    position: absolute;
    top: 25%;
    width: 1px;
}

.copyright {
    font-size: 10px;
    font-weight: bold;
}